.auth__wrapper {
    width           : 100%;
    height          : 100vh;
    background-color: #0c0908;
}

.auth__bg {
    margin          : 0 auto;
    width           : 1440px;
    height          : 1080px;
    display         : flex;
    align-items     : center;
    background-image: url(../../assets/auth-bg.png);
}

.auth__form {
    width           : 460px;
    height          : 340px;
    background-color: #fff;
    display         : flex;
    flex-direction  : column;
    padding-top     : 7px;
}

.auth__form-link {
    margin-left         : 323px;
    background-color    : transparent;
    outline             : none;
    border              : none;
    color               : #D58C51;
    width               : 118px;
    height              : 14px;
    font-family         : 'Montserrat';
    font-style          : normal;
    font-weight         : 300;
    font-size           : 11px;
    line-height         : 13px;
    text-align          : right;
    text-decoration-line: underline;
    cursor              : pointer;
}

.auth__form-title {
    height        : 38px;
    font-family   : 'Montserrat';
    font-style    : normal;
    font-weight   : 700;
    font-size     : 31px;
    line-height   : 38px;
    text-transform: uppercase;
    color         : #161516;
    margin-top    : 15px;
    margin-bottom : 36px;
}

.auth__form-input {
    width           : 420px;
    height          : 39px;
    border          : 1px solid #D58C51;
    border-radius   : 61px;
    background-color: transparent;
    font-family     : 'Montserrat';
    font-style      : normal;
    font-weight     : 400;
    font-size       : 16px;
    line-height     : 20px;
    color           : #161516;
    padding-left    : 15px;
    margin-bottom   : 15px;
}

input:focus {
    outline         : none;
    background-color: transparent;
    font-style      : normal;
    font-weight     : 400;
    font-size       : 16px;
    line-height     : 20px;
    color           : #161516;
    padding-left    : 15px;
}

.auth__form-lable {
    display     : block;
    position    : relative;
    cursor      : pointer;
    margin-right: 95.7%;
}

.auth__form-lable::after {
    content    : "Я согласен получать обновления на почту";
    position   : absolute;
    width      : 248px;
    height     : 14px;
    left       : 25px;
    top        : 5px;
    font-family: 'Montserrat';
    font-style : normal;
    font-weight: 300;
    font-size  : 11px;
    line-height: 13px;
    color      : #301411;
}

.auth__form-checkbox {
    position: absolute;
    z-index : -1;
    opacity : 0;
}

.auth__form-span {
    position        : absolute;
    top             : 0;
    left            : 0;
    height          : 18px;
    width           : 18px;
    background-color: transparent;
    border          : 1px solid #D58C51;
    border-radius   : 61px;
    font-size       : 0px;
}

.auth__form-span:after {
    content : "";
    position: absolute;
    display : none;
}

.auth__form-lable input:checked~.auth__form-span:after {
    display: block;
}

.auth__form-lable .auth__form-span:after {
    top             : 1.8px;
    left            : 1.4px;
    height          : 13px;
    width           : 13px;
    background-color: #D58C51;
    border-radius   : 61px;
}

.auth__form-submit {
    width      : 200px;
    height     : 42px;
    background : #D58C51;
    font-family: 'Montserrat';
    font-style : normal;
    font-weight: 400;
    font-size  : 14px;
    line-height: 17px;
    color      : #131313;
    cursor     : pointer;
    border     : none;
    outline    : none;
    margin-top : 45px;
}